.FeaturedTodos {
  height: 100%;
  padding: 0 2em;
  .heading {
    margin-top: 0;
    font-weight: 700;
    font-size: 3vw;
    color: slategray;
    text-align: center;
    
    @media only screen and (max-width: 767px) {
      font-size: 10vw;
    }
  }

  .featured-todos-container {
    padding-bottom: 3vh;

    @media only screen and (max-width: 767px) {
      padding-bottom: 25vh;
    }

    .featured-todos {
      height: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      column-gap: 1em;

      @media only screen and (max-width: 767px) {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .not-smart {
    @media only screen and (min-width: 767px) {
      display: none;
    }
  }
}
