.Home {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;

  .container {
    float: left;
    max-width: 100%;
    height: 100%;
    box-sizing: border-box;
    flex-grow: 1;

    .home-main {
      padding-top: 2em;
      .title {
        font-weight: 600;
        color: darkslategray;
      }

      @media only screen and (max-width: 767px) {
        width: 100%;
        position: relative;
      }
    }
  }
}
