.signup {
  .form {
    display: flex;
    flex-direction: column;
    width: 30em;

    .form-fields {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      & > * {
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 30px !important;
        }
      }
    }

    .btn-submit {
      &.enabled {
        color: green !important;
        border-color: forestgreen !important;
        &:hover {
          cursor: pointer;
          background-color: #d7ffd9 !important;
        }
      }
    }

    .btn-route-link {
      margin-top: 10px;
    }
  }
}


