.validated-input-text {
  position: relative;
  font-size: 1em;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: end;
  min-height: 5em;

  .uk-input {
    align-self: start;
    border: 1px solid slategray;
    border-top: 0;
    transition: ease-in 120ms;
    font-size: 1.5em;
  }

  .message-bar {
    align-self: end;
    text-align: left;
    display: flex;
    position: relative;
    background-clip: content-box;

    .message {
      background-color: slategray;
      color: white;
      border: 1px solid slategray;
      border-bottom: 0;
      width: 45%;
      min-height: 1.5em;
      max-height: 100%;
      font-size: 1.2em;
      font-weight: 500;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 0 0.5em 0 0.5em;
      z-index: 2;
      position: relative;

      div {
        word-break: break-word;
      }
    }

    &:after {
      background-color: white;
      height: 100%;
      width: 100%;
      border: 1px solid slategray;
      border-top: 0;
      border-right: 0;
      border-left: 0;
      content: "";
      position: absolute;
      display: inline;
      box-sizing: border-box;
    }
  }

  &.not-valid .message-bar {
    .message {
      background-color: pink;
      transition: ease-out 250ms;
      border-color: red;
      color: red;
      width: 100%;

      div {
        animation: keyframes-message-error 900ms;
        animation-fill-mode: forwards;
        animation-timing-function: ease-out;
      }

      @keyframes keyframes-message-error {
        0% {
          font-size: 0.1em;
          opacity: 0;
        }

        20% {
          font-size: 0.1em;
        }

        50% {
          font-size: 1em;
        }

        55% {
          opacity: 0;
        }

        100% {
          opacity: 1;
        }
      }
    }

    &:after {
      transition: ease-out 250ms;
      border-color: red;
    }

    &~.uk-input {
      border-color: red;
    }
  }

  &.valid .message-bar {
    .message {
      background-color: mediumspringgreen;
      transition: ease-out 250ms;
      border-color: green;
      color: green;
      width: 45%;
    }

    &:after {
      transition: ease-out 250ms;
      border-color: green;
    }

    &~.uk-input {
      border-color: green;
    }
  }
}
