.TodoCard {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 9em 1fr;
  align-items: center;
  margin: 0.7em 0;
  min-height: 18em;
  height: 18em;
  max-height: 18em;
  border: 1px solid lightblue;
  background-color: slategray;
  padding: 0.5em 0.8em;
  @media only screen and (max-width: 767px) {
    margin: 0.7em 0;
  }

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-row: 1;
    align-self: start;

    .title {
      order: 1;
      flex-grow: 2;
      text-align: left;
      input {
        font-size: 1.8vw;
        color: white;
        background-color: transparent;
        border: 0;
        padding: 0 0.3em;
        @media only screen and (max-width: 767px) {
          font-size: 7vw;
        }

        &::placeholder {
          color: lightgray;
          font-style: italic;
        }
      }
    }

    .checkmark {
      margin-left: 0.5em;
      order: 2;
      i {
        font-size: 1.8vw;
        color: lightgray;
        cursor: pointer;
        padding: 0.2em;
        @media only screen and (max-width: 767px) {
          font-size: 7vw;
        }
      }

      &.checked {
        i {
          color: #66ff66 !important;
        }
      }
    }

    .todo-star {
      margin-left: 0.5em;
      order: 3;
      i {
        font-size: 1.8vw;
        color: gold;
        cursor: pointer;
        padding: 0.2em;
        @media only screen and (max-width: 767px) {
          font-size: 7vw;
        }
      }

      &.not-featured {
        i {
          color: lightgray !important;
        }
      }
    }
  }

  .description {
    grid-row: 2;
    align-self: center;
    text-align: left;
    height: 10em;
    padding: 0 0.5em;

    textarea {
      font-size: 1.2vw;
      color: whitesmoke;
      background-color: transparent;
      border: 0;
      width: 100%;
      height: 100%;
      resize: none;
      text-align: left;
      padding: 0 0.3em;
      &::-webkit-scrollbar {
        width: 0.4em;
      }
      &::-webkit-scrollbar-thumb {
        background-color: white;
      }
      &::-webkit-scrollbar-track {
        background-color: lightgray;
      }
      @media only screen and (max-width: 767px) {
        font-size: 4vw;
      }

      &::placeholder {
        color: lightgray;
        font-style: italic;
      }
    }
  }

  .footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-row: 3;
    align-self: end;

    .edit-btn-container {
      order: 1;

      i {
        font-size: 1.8vw;
        color: white;
        cursor: pointer;
        padding:0.2em;
        box-sizing: border-box;
        @media only screen and (max-width: 767px) {
          font-size: 7vw;
        }

        &:hover {
          background-color: darkgray;
        }

        &.editing {
          background: darkgray;
        }
      }
    }

    .delete-btn {
      order: 2;
      margin-left: 0.5em;
      flex-grow: 2;
      text-align: left;

      i {
        font-size: 1.8vw;
        color: lightgray;
        cursor: pointer;
        padding:0.2em;
        box-sizing: border-box;
        @media only screen and (max-width: 767px) {
          font-size: 7vw;
        }

        &.editing {
          color: #ff6666 !important;
        }
      }
    }

    .todo-end-date {
      order: 3;
      position: relative;
      input[type='date'] {
        font-size: 1.2vw;
        color: white;
        font-weight: 480;
        background-color: transparent;
        border: 0;
        justify-content: flex-end;
        font-family: unset;
        text-align: right;
        @media only screen and (max-width: 767px) {
          font-size: 4vw;
        }

        &:focus {
          outline: none !important;
        }

        &::-webkit-calendar-picker-indicator {
          cursor: pointer;
          width: 100%;
          position: absolute;
          background-image: none;
          background-color: transparent;
          padding: 0;
          color: white !important;
        }
      }
    }
  }

  .editing {
    &:hover {
      background-color: darkgray !important;
    }
  }
}
