.username-inputfield {
  position: relative;
  font-size: 1em;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: end;
  min-height: 5em;

  .uk-input.username-input {
    align-self: start;
    border: 1px solid lightgray;
    border-top: 0;
    transition: ease-out 120ms;
    font-size: 1.5em;
  }

  .username-info-tab {
    align-self: end;
    text-align: left;
    display: flex;
    position: relative;
    background-clip: content-box;
    border: 0.1em solid white;
    border-left: 0;
    border-bottom: 0;
    border-right: 0;
    background-color: lightgray;

    .username-label {
      color: darkslategray;
      border: 1px solid lightgray;
      border-bottom: 0;
      width: 45%;
      font-size: 1.2em;
      font-weight: 500;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 0 0 0 0.5em;
      z-index: 2;
      position: relative;
    }

    &:after {
      background-color: white;
      width: 55%;
      border: 1px solid lightgray;
      border-top: 0;
      border-right: 0;
      border-left: 0;
      content: "";
      position: relative;
      display: inline;
      box-sizing: border-box;
    }
  }

  .username-info-tab.not-valid {
    background-color: pink;

    .username-label {
      transition: ease-out 0ms;
      color: red;
      border-color: red;
      width: 100%;
    }

    &:after {
      transition: ease-out 0ms;
      width: 0%;
      border-color: red;
    }

    &~.uk-input.username-input {
      border-color: red;
    }
  }

  .username-info-tab.valid {
    background-color: mediumspringgreen;
    .username-label {
      transition: ease-out 250ms;
      color: green;
      border-color: green;
      width: 45%;
    }

    &:after {
      transition: ease-out 250ms;
      border-color: green;
    }

    &~.uk-input.username-input {
      border-color: green;
    }
  }
}
