.TodoCard {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  align-items: center;
  margin: 0.7em 0;
  min-height: 18em;
  height: 18em;
  max-height: 18em;
  box-sizing: border-box;
  background-color: white;
  @media only screen and (max-width: 767px) {
    margin: 0.7em 0;
  }

  .header {
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-template-rows: auto;
    align-items: center;
    grid-row: 1;
    align-self: start;
    background-color: transparent;
    border: 1px solid slategray;

    .title {
      grid-column: 1;
      text-align: left;
      input {
        font-size: 1.8vw;
        height: auto;
        color: slategray;
        background-color: transparent;
        border: 0;
        padding: 0 0.3em;
        @media only screen and (max-width: 767px) {
          font-size: 7vw;
        }

        &.editing {
          &:hover {
            background-color: whitesmoke !important;
          }
        }

        &::placeholder {
          color: darkgray;
          font-style: italic;
        }
      }
    }

    .checkmark {
      margin-left: 0.5em;
      grid-column: 2;
      i {
        font-size: 1.8vw;
        color: darkgray;
        cursor: pointer;
        padding: 0.25em;
        @media only screen and (max-width: 767px) {
          font-size: 7vw;
        }
      }

      &.checked {
        i {
          color: mediumspringgreen !important;
        }
      }
    }

    .todo-star {
      margin-left: 0.5em;
      grid-column: 3;
      i {
        font-size: 1.8vw;
        color: gold;
        cursor: pointer;
        padding: 0.25em;
        @media only screen and (max-width: 767px) {
          font-size: 7vw;
        }
      }

      &.not-featured {
        i {
          color: lightgray !important;
        }
      }
    }
  }

  .description {
    grid-row: 2;
    align-self: center;
    text-align: left;
    height: 100%;
    background-color: white;
    border: 1px solid slategray;

    textarea {
      font-size: 1.2vw;
      color: slategray;
      border: 0;
      width: 100%;
      height: 100%;
      resize: none;
      text-align: left;
      background-color: white;
      &::-webkit-scrollbar {
        width: 0.4em;
      }
      &::-webkit-scrollbar-thumb {
        background-color: slategray;
      }
      &::-webkit-scrollbar-track {
        background-color: lightgray;
      }
      @media only screen and (max-width: 767px) {
        font-size: 4vw;
      }

      &.editing {
        &:hover {
          background-color: whitesmoke !important;
        }
      }

      &::placeholder {
        color: darkgray;
        font-style: italic;
      }
    }
  }

  .footer {
    display: grid;
    grid-template-columns: auto auto 1fr auto;
    grid-template-rows: auto;
    align-items: center;
    grid-row: 3;
    align-self: end;
    border: 1px solid slategray;

    .edit-btn-container {
      grid-column: 1;

      i {
        font-size: 1.8vw;
        color: slategray;
        cursor: pointer;
        padding:0.2em;
        box-sizing: border-box;
        @media only screen and (max-width: 767px) {
          font-size: 7vw;
        }

        &:hover {
          background-color: lightgray !important;
        }

        &.editing {
          background: slategray;
          color: white;
          &:hover {
            background-color: darkgray !important;
          }
        }
      }
    }

    .delete-btn {
      grid-column: 2;
      margin-left: 0.5em;
      flex-grow: 2;
      text-align: left;

      i {
        font-size: 1.8vw;
        color: lightslategray;
        padding:0.2em;
        box-sizing: border-box;
        @media only screen and (max-width: 767px) {
          font-size: 7vw;
        }

        &.editing {
          color: #ff6666 !important;

          &:hover {
            cursor: pointer;
            background-color: whitesmoke !important;
          }
        }
      }
    }

    .footer-items-space {
      grid-column: 3;
    }

    .todo-end-date {
      grid-column: 4;
      position: relative;
      height: 100%;
      user-select: none !important;

      input[type='date'] {
        height: 100%;
        padding-right: 0.7em;
        font-size: 1.2vw;
        color: slategray;
        font-weight: 550;
        background-color: transparent;
        border: 0;
        justify-content: flex-end;
        font-family: unset;
        text-align: right;
        @media only screen and (max-width: 767px) {
          font-size: 4vw;
        }

        &:focus {
          outline: none !important;
        }

        &::-webkit-calendar-picker-indicator {
          cursor: pointer;
          width: 100%;
          position: absolute;
          background-image: none;
          background-color: transparent;
          padding: 0;
          color: white !important;

          &:focus {
            outline: none;
          }
        }
      }
    }
  }

  .editing {
    &:hover {
      background-color: whitesmoke !important;
    }
  }
}
